*{
    padding: 0;
    margin: 0;
    /* box-sizing: border-box; */
}

body{
    /* position: relative; */
}


.cont-red,
.cont-beige,
.cont-yellow,
.cont-green{
    width: 500px;
    height: 250px;
    box-sizing: border-box;
}


.container{
    position: relative;
    width: 1000px;
    height: 500px;
    margin: 500px auto;
    box-sizing: border-box;
}

.cont-red{
    border: 5px solid #AF3A3F;
    position: absolute;
    top: 0;
    left: 0;
}

.cont-green{
    border: 5px solid #438348;
    position: absolute;
    top: 250px;
    left: 0;
}

.cont-beige{
    border: 5px solid #BF6F4B;
    position: absolute;
    top: 250px;
    right: 0;
}


.cont-yellow{
    border: 5px solid #E0BB3B;
    position: absolute;
    top: 0px;
    right: 0;
}

.in-cont-jalapeno{
    border: 5px solid #9D2C2D;
    position: absolute;
    top: 100px;
    bottom: 100px;
    left: 375px;
    right: 375px;
}

/* Responsive Design */

@media(min-width: 1281px) and (max-width: 1440px) {
    .container{
        width: 800px;
        height: 400px;
    }

    .cont-red,
    .cont-beige,
    .cont-yellow,
    .cont-green{
        width: 400px;
        height: 200px;
        box-sizing: border-box;
}

    .in-cont-jalapeno{
        border: 4.75px solid #9D2C2D;
        top: 80px;
        bottom: 80px;
        left: 300px;
        right: 300px;
    }

    .cont-red{
        border: 4.75px solid #AF3A3F;
    }
    
    .cont-green{
        border: 4.75px solid #438348;
        top: 200px;
    }
    
    .cont-beige{
        border: 4.75px solid #BF6F4B;
        top: 200px;
    }
    
    
    .cont-yellow{
        border: 4.75px solid #E0BB3B;
        top: 0;
    }
}

@media(min-width: 1025px) and (max-width: 1280px) {
    .container{
        width: 700px;
        height: 350px;
    }

    .cont-red,
    .cont-beige,
    .cont-yellow,
    .cont-green{
        width: 350px;
        height: 175px;
        box-sizing: border-box;
    }

    .in-cont-jalapeno{
        border: 4px solid #9D2C2D;
        top: 70px;
        bottom: 70px;
        left: 262.50px;
        right: 262.50px;
    }

    .cont-red{
        border: 4px solid #AF3A3F;
    }
    
    .cont-green{
        border: 4px solid #438348;
        top: 175px;
    }
    
    .cont-beige{
        border: 4px solid #BF6F4B;
        top: 175px;
    }
    
    
    .cont-yellow{
        border: 4px solid #E0BB3B;
        top: 0;
    }
}

@media(min-width: 769px) and (max-width: 1024px) {
    .container{
        width: 600px;
        height: 300px;
    }

    .cont-red,
    .cont-beige,
    .cont-yellow,
    .cont-green{
        width: 300px;
        height: 150px;
        box-sizing: border-box;
    }

    .in-cont-jalapeno{
        border: 3.5px solid #9D2C2D;
        top: 60px;
        bottom: 60px;
        left: 225px;
        right: 225px;
    }

    .cont-red{
        border: 3.5px solid #AF3A3F;
    }
    
    .cont-green{
        border: 3.5px solid #438348;
        top: 150px;
    }
    
    .cont-beige{
        border: 3.5px solid #BF6F4B;
        top: 150px;
    }
    
    
    .cont-yellow{
        border: 3.5px solid #E0BB3B;
        top: 0;
    }
}

@media(min-width: 621px) and (max-width: 768px) {
    .container{
        width: 400px;
        height: 200px;
    }

    .cont-red,
    .cont-beige,
    .cont-yellow,
    .cont-green{
        width: 200px;
        height: 100px;
        box-sizing: border-box;
    }

    .in-cont-jalapeno{
        border: 3px solid #9D2C2D;
        top: 40px;
        bottom: 40px;
        left: 148px;
        right: 148px;
    }

    .cont-red{
        border: 3px solid #AF3A3F;
    }
    
    .cont-green{
        border: 3px solid #438348;
        top: 100px;
    }
    
    .cont-beige{
        border: 3px solid #BF6F4B;
        top: 100px;
    }
    
    
    .cont-yellow{
        border: 3px solid #E0BB3B;
        top: 0;
    }
}

@media(min-width: 481px) and (max-width: 620px) {
    .container{
        width: 350px;
        height: 175px;
    }

    .cont-red,
    .cont-beige,
    .cont-yellow,
    .cont-green{
        width: 175px;
        height: 87.5px;
        box-sizing: border-box;
    }

    .in-cont-jalapeno{
        border: 2.5px solid #9D2C2D;
        top: 35px;
        bottom: 35px;
        left: 131.25px;
        right: 131.25px;
    }

    .cont-red{
        border: 2.5px solid #AF3A3F;
    }
    
    .cont-green{
        border: 2.5px solid #438348;
        top: 87.5px;
    }
    
    .cont-beige{
        border: 2.5px solid #BF6F4B;
        top: 87.5px;
    }
    
    
    .cont-yellow{
        border: 2.5px solid #E0BB3B;
        top: 0;
    }
}

@media(min-width: 321px) and (max-width: 480px) {
    .container{
        width: 200px;
        height: 100px;
    }

    .cont-red,
    .cont-beige,
    .cont-yellow,
    .cont-green{
        width: 100px;
        height: 50px;
        box-sizing: border-box;
    }

    .in-cont-jalapeno{
        border: 2px solid #9D2C2D;
        top: 20px;
        bottom: 20px;
        left: 75px;
        right: 75px;
    }

    .cont-red{
        border: 2px solid #AF3A3F;
    }
    
    .cont-green{
        border: 2px solid #438348;
        top: 50px;
    }
    
    .cont-beige{
        border: 2px solid #BF6F4B;
        top: 50px;
    }
    
    
    .cont-yellow{
        border: 2px solid #E0BB3B;
        top: 0;
    }
}

@media(min-width: 240px) and (max-width: 320px) {
    .container{
        width: 100px;
        height: 50px;
    }

    .cont-red,
    .cont-beige,
    .cont-yellow,
    .cont-green{
        width: 50px;
        height: 25px;
        box-sizing: border-box;
    }

    .in-cont-jalapeno{
        border: 1.5px solid #9D2C2D;
        top: 10px;
        bottom: 10px;
        left: 37.5px;
        right: 37.5px;
    }

    .cont-red{
        border: 1.5px solid #AF3A3F;
    }
    
    .cont-green{
        border: 1.5px solid #438348;
        top: 25px;
    }
    
    .cont-beige{
        border: 1.5px solid #BF6F4B;
        top: 25px;
    }
    
    
    .cont-yellow{
        border: 1.5px solid #E0BB3B;
        top: 0;
    }
}